<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="app.component.css" type="text/css">
</head>
<body>
    
        <ul *ngFor="let becarios of becariosArray">
            <div *ngIf="becarios.id">
            <li>
                <span> ID: {{becarios.id}}</span>
            </li>
            <li *ngIf="becarios.puesto">
                <span>NOMBRE: {{becarios.puesto}}</span>
            </li>   
            <li *ngIf="becarios.horario">
                <span>HORARIO: {{becarios.horario}}</span>
            </li> 
            <li *ngIf="becarios.fechaAlta">
                <span>FECHA DE ALTA: {{becarios.fechaAlta}}</span>
            </li>   
            
                <div *ngIf="becarios.responsables">
                    <div *ngFor="let becariosResponsables of becarios.responsables">
                        <span>{{becariosResponsables}}</span>
                    </div>
                </div>
            </div>  
        </ul>
  
   
</body>
</html>