<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="app.component.css" type="text/css">    
</head>
<body>
    <table class="table table-hover">
        <tr>
            <th>
                ID
            </th>
            <th>
                NOMBRE
            </th>
            <th>
                HORARIO
            </th>
            <th>
                FECHA DE ALTA
            </th>
            <th>
                RESPONSABLES
            </th>
        </tr>
        <tr *ngFor="let becarios of becariosArray">
            <td >
                {{becarios.id}}
            </td>
            <td >
                {{becarios.puesto}}
            </td>
            <td >
                {{becarios.horario}}
            </td>
            <td >
                {{becarios.fechaalta}}
            </td>
            <td >
                <div *ngFor="let becariosResponsables of becarios.responsables">
                    {{becariosResponsables}}
                </div>
            </td>
        </tr>
    </table>
</body>
</html>